PIPEDRIVE_API_TOKEN=
PIPEDRIVE_BASE_URL=https://api.pipedrive.com/v1
PIPEDRIVE_PIPELINE_NAME=CAMILLE - PME-KMU
PIPEDRIVE_FORCE_IPV4=1
FLASK_SECRET_KEY=change-this-local-secret
APP_USERNAME=admin
APP_PASSWORD=change-this-password
FLASK_RUN_HOST=127.0.0.1
FLASK_RUN_PORT=5000
